@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&family=Teko:wght@500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
    background-color: rgb(56, 78, 97); 
}

html {
    zoom: 130%;
}


.outer-container {
    margin: 24px;
    border: 1px solid rgb(227, 226, 226);
    overflow: hidden;
    background-color: #2D2B2B;
}

@media screen and (max-width: 500px) {
    .outer-container {
        margin: 5px;
    }
}