@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600;700&family=Teko:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
    background-color: rgb(130, 179, 222); 
    font-family: 'Open Sans', sans-serif
} 

html {
    zoom: 120%;
    scroll-behavior: smooth;
}

@media screen and (max-width: 500px) {
    html {
        zoom: 100%;
    }
}

.outer-container {
    margin: 24px;
    border: 5px solid rgb(255, 255, 255);
    overflow: hidden;
    background-color: rgb(33, 33, 37);
}

@media screen and (max-width: 500px) {
    .outer-container {
        margin: 5px;
    }
}